{% extends 'base.html.twig' %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('mahjong.bundle.js') }}"></script>
{% endblock %}
{% block body %}
<div id="app"></div>
    <script>
        window.mountmahjong('#app');
    </script>
{% endblock %}